@model MyNet.Models.GenericModel
@{

}


<div class="container-fluid col-md-12">
    <div class="row">
        <button class="btn" type="button" onclick="onCancel(this)">Cancel</button>
        <button class="btn btn-primary" onclick="genericSave(this,'@Model.RuleCode')" type="button">Save</button>
    </div>
</div>


<script>
   


</script>
